:root{
    --mainColor:#9352b3;
  }
  
.header{
    background-image:linear-gradient( rgba(147, 82, 179, 0.292), rgba(147, 82, 179, 0.475)),url(../../../public/assets/slider2.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
}
.header h1{
    font-size: 60px;
    font-weight:900;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 28px;
   font-family: Quicksand,sans-serif;
   padding-bottom: 10px;
   display: block;
}
.header p{
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 28px;
  font-weight: 300;
  font-family: Quicksand,sans-serif;
}

 .header .container{
    width: 60%;
 }
  .main-btn{
    background-color: var(--mainColor);
    text-transform: uppercase;
    border-radius:5% ;
  }
.main-btn:hover{
    background-color:#9352b3ef; 

}
@media (max-width:1085px) {
  .header .container{
    width: 90%;
  }
  
}
@media (max-width:768px) {
  .header .container{
    width: 100%;
  }
  .header h1{
    font-size: 40px;
  }
  
}
@media (max-width:442px) {
 
  .header h1{
    font-size: 30px;
  }
  .header p{
    font-size: 15px;
  }
  
}